<h1>Quartets (card game)</h1>
<p>
  Please choose how many players do we have?
  <select #select>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
  <button type="button" class="startGame" (click)="startGame(select.value)">
    Start
  </button>
</p>
