h1{
  color: white;
  font-weight: bolder;
  text-align: center;
  text-decoration: underline;
}
p{
  color: white;
  font-size: medium;
}
select,.startGame{
  color: white;
  background-color: darkblue;
  width: 10%;
  font-size: medium;
  border-radius: 18px;
  margin: 1em;
}
:hover .startGame{
  background-color: aqua;
  font-size: large;
  color: darkblue;
}


