<app-game-menu (playerEvent)="assignPlayers($event)"></app-game-menu>
<app-stack
  (cardEvent)="drawCard()"
  [cardsArrayLength]="cardDealer.cards.length"
></app-stack>
<app-player *ngFor="let player of players" [player]="player"></app-player>
