<div class="card-text">
  <span class="id">{{ card.id }}</span>
  <span class="date">{{ card.date }} </span>
  <h2>{{ card.title }}</h2>

  <div class="image">
    <img [src]="card.image" width="100%" />

    {{ card.body }}
  </div>
  <div class="icon" [style.background-color]="card.backGround">
    <small class="text">Country:</small>
  </div>
  <small class="skills">
    {{ card.country }}
  </small>
  <div class="action">
    <button class="info">More info.</button>
    <button class="jobs">Jobs</button>
  </div>
</div>
