:host {
  display: flex;
  justify-self: start;
  flex: 1 1 auto;
  flex-direction: row;
  width: 30ch;
  border: 1px solid white;
  margin: 30px;
  border-radius: 18px;
  background: #424344;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 0;
}
:host:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.card-text {
  margin: 25px;
  position: relative;
}
.card-text .date {
  color: rgb(206, 186, 196);
  font-size: 13px;
  font-family: Arial;
}
.card-text p {
  color: white;
  font-size: 10px;
  font-weight: 200;
}
.card-text h2 {
  color: white;
  margin-top: 0px;
  font-size: 28px;
}
.text {
  margin-left: 4em;
  font-family: "Times New Roman";
  color: #b3d4fc;
}
.skills {
  font-size: medium;
  font-family: "Times New Roman";
  color: white;
  width: 30ch;
  text-align: center;
  margin-top: 15%;
  margin-left: 11%;
  margin-bottom: 4em;
}
.icon {
  height: 25px;
  width: 25px;
  float: left;
  background-color: orange;
  border-radius: 50%;
}
.jobs,
.info {
  border-radius: 18px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.id{
  position: absolute;
  width: 10%;
  height: 10%;
  margin-left: -90px;
  border: 2px solid white;
  margin-top: -1px;
  color: white;
}

