.getCard{
  width: 20%;
  height: 20%;
  color: darkblue;
  font-size: medium;
  border: 1px solid red;
  background-color: #b3d4fc;
  border-radius: 18px;

}
.getCard:hover{
  width: 30%;
  height: 40%;
  font-size: large;
}
